[general]
dpi = 300
units = inches
size = 4,6
background = white

[00portrait]
filename = auto
area1 = .37, .15, 1.55, 1.27
area2 = 2.37, .15, 1.55, 1.27
autocrop = true

[01portrait]
filename = auto
area1 = .37, 1.6, 1.5, 1.27
area2 = 2.37, 1.6, 1.55, 1.27
autocrop = true

[02portrait]
filename = auto
area1 = .37, 3.05, 1.55, 1.27
area2 = 2.37, 3.05, 1.55, 1.27
autocrop = true

[04portrait]
filename = auto
area1 = .37, 4.5, 1.57, 1.27
area2 = 2.37, 4.5, 1.55, 1.27
autocrop = true
