# make sure pip is up to date first!
# ==================================
# python -m pip install --upgrade pip wheel setuptools

# my be no longer required on win32, not sure
# ===========================================
# pypiwin32

# recommended to install before kivy, possibly windows only
# =========================================================
# kivy.deps.sdl2
# kivy.deps.glew

# pygame is required for sounds until i figure out kivy audio
# ===========================================================
pygame

# camera providers
# ================
git+http://github.com/bitcraft/shutter.git
gphoto2
# opencv
# pygame

# PITA source install
# git+git://github.com/jim-easterbrook/python-gphoto2
# sudo apt install libgphoto2-6 libgphoto2-dev git build-essential swig python3-dev

# everything else
# ===============
uvloop
kivy==1.9.1
pillow-simd
zeroconf
sanic
cbor
natsort
netifaces
requests
pyyaml


# Hot folder printing
# ===================
pypubsub
