# make sure pip is up to date first!
# ==================================
# python -m pip install --upgrade pip wheel setuptools

# my be no longer required on win32, not sure
# ===========================================
# pypiwin32

# recommended to install before kivy, possibly windows only
# =========================================================
# kivy.deps.sdl2
# kivy.deps.glew

# pygame is required for sounds until i figure out kivy audio
# ===========================================================
pygame

# camera providers
# ================
git+http://github.com/bitcraft/shutter.git
# opencv
# pygame

# everything else
# ===============
uvloop
kivy==1.9.1
pillow-simd
zeroconf
sanic
cbor
natsort
netifaces
requests
pyyaml


# Hot folder printing
# ===================
pypubsub
