# make sure pip is up to date first!
# ==================================
# python -m pip install --upgrade pip wheel setuptools

# uncomment group below if installing kivy for first time
# =======================================================
# pypiwin32
# kivy.deps.sdl2
# kivy.deps.glew

# pygame is required for sounds until i figure out kivy audio
# ===========================================================
pygame==1.9.3

# camera providers
# ================
git+http://github.com/bitcraft/shutter.git
# opencv
# pygame

# everything else
# ===============
uvloop
kivy==1.9.1
pillow-simd
zeroconf
sanic
cbor
natsort
netifaces
requests
pyyaml
