[general]
dpi = 300
units = inches
size = 2,6
background = black

[00portrait]
filename = auto
area = .1, .1, 1.6, 1.5
autocrop = true
filter = toaster

[01portrait]
filename = auto
area = .1, 1.55, 1.6, 2.95
autocrop = true
filter = toaster

[02portrait]
filename = auto
area = .1, 3, 1.6, 4.4
autocrop = true
filter = toaster

[03portrait]
filename = auto
area = .1, 4.45, 1.6, 5.85
autocrop = true
filter = toaster
